.search-bar {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */

    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;

    font-size: 24px;
}

.search-bar label {
    align-self: center;
    margin-bottom: 10px;
}

.search-bar section {
    display: flex;
}

.search-bar input, .search-bar button {
    font-size: 18px;
    border-radius: 5px;
}

.search-bar input {
    flex-grow: 2;
    margin-right: 5px;
    padding: 5px;
}

.search-bar button {
    cursor: pointer;
    color: cornsilk;
    background-color: mediumblue;
    border-top-color: blue;
    border-left-color: blue;
    border-right-color: darkblue;
    border-bottom-color: darkblue;
}

.search-bar button:active {
    background-color: darkblue;
}

@media (min-width: 1060px) {
    .search-bar {
        margin-left: 20%;
        margin-right: 20%;
    }    
}

@media (max-width: 1060px) {
    .search-bar section {
        flex-direction: column;
    }

    .search-bar input {
        font-size: 24px;
        padding: 10px;
        margin-bottom: 25px;
    }

    .search-bar button {
        align-self: center;
        padding: 15px;
        font-size: 24px;
    }
}